.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.left {
  margin-right: 2rem;
}

.bold {
  font-weight: bold;
}

.link {
  text-decoration: none;
  display: inline-block;
  border: #000 1px solid;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.linkMargin {
  margin-left: 1rem;
}

.active {
  color: gray;
}

.linkSpacing {
  margin-left: 1rem;
}

.right {
  margin-left: auto;
}

.paragraph {
  display: inline-block;
  font-size: 14px;
  padding-right: 1rem;
}

.button {
  border: none;
}

.rightLink {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
