.profilePageContainer {
  width: 60%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.profilePictureContainer {
  position: relative;
  display: inline-block;
}

.profileCard {
  display: flex;

  margin-bottom: 20px;
  margin-top: 20px;
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.label {
  font-weight: bold;
  color: #333;
  margin-right: 5px;
}

.value {
  color: #777;
  padding-left: 5px;
}

.profilePicture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 20px;
}

.input[type="file"] {
  display: none;
  padding: 12px 20px;
  margin: 8px 0;
}

.label2 {
  display: none;
  font-weight: bold;
  color: #333;
  border: 0.2rem solid #ccc;
  padding: 0.3rem;
  border-radius: 0.5rem;
  margin-left: 32px;
}
/* .label2 {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(
    255,
    255,
    255,
    0.8
  ); 
  display: none;
} */
.label2:hover {
  cursor: pointer;
  background-color: #ccc;
}
.profilePictureContainer:hover .label2 {
  display: block;
}
.button {
  border-radius: 10px;
}

.form {
  margin-top: 20px;
}

.cropContainer {
  position: relative;
  width: 100%;
  height: 300px;
  background: #333;
  margin-bottom: 50px;
}

.cropper {
  height: 100%;
  width: 100%;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
